<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAre908BYUmsA_k7xRttQ9FpsLoRu-0GPM</string>
	<key>GCM_SENDER_ID</key>
	<string>916897903812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirabaseFlutterYoddha</string>
	<key>PROJECT_ID</key>
	<string>todoyodhha</string>
	<key>STORAGE_BUCKET</key>
	<string>todoyodhha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916897903812:ios:1b616b7e8fa8c9ad174591</string>
</dict>
</plist>